<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nmea-getter" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NmeaGetter</name>
    <description>Plugin para pegar o Nmea do dispositivo</description>
    <engines>
      <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module name="NmeaGetter" src="www/NmeaGetter.js">
        <clobbers target="cordova.plugins.NmeaGetter" />
    </js-module>

    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Alert">
          <param name="android-package" value="com.acme.plugin.alert.NmeaGetter" />
        </feature>
      </config-file>
      <source-file src="src/android/NmeaGetter.java" target-dir="src/com/acme/plugin/nmea-getter" />
    </platform>
</plugin>
